<?xml version="1.0"?>
<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	name="Sovereignty"
	xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/PHPCSStandards/PHP_CodeSniffer/master/phpcs.xsd">

	<description>PHPCS configuration for Sovereignty.</description>

	<file>.</file>
	<exclude-pattern>vendor/*</exclude-pattern>
	<exclude-pattern>node_modules/*</exclude-pattern>
	<exclude-pattern>.ddev/*</exclude-pattern>
	<exclude-pattern>bin/*</exclude-pattern>

	<!-- Test files: relax rules for test infrastructure and test methods -->
	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<exclude-pattern>tests/*</exclude-pattern>
	</rule>
	<rule ref="Squiz.Commenting.FunctionComment.Missing">
		<exclude-pattern>tests/*</exclude-pattern>
	</rule>
	<rule ref="Squiz.Commenting.ClassComment.Missing">
		<exclude-pattern>tests/*</exclude-pattern>
	</rule>

	<arg name="extensions" value="php"/>

	<rule ref="Apermo"/>

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="sovereignty"/>
			</property>
		</properties>
	</rule>

	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<property name="prefixes" type="array">
				<element value="sovereignty"/>
				<element value="Apermo\Sovereignty"/>
			</property>
		</properties>
	</rule>

	<config name="minimum_wp_version" value="6.2"/>
</ruleset>
