includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: 5
    paths:
        - .
    excludePaths:
        - vendor
        - node_modules
        - .ddev
    strictRules:
        allRules: false
        booleansInConditions: true
        disallowedLooseComparison: true
        strictFunctionCalls: true
        disallowedEmpty: false
