parameters:
    level: 5
    paths:
        - .
    excludePaths:
        analyseAndScan:
            - node_modules (?)
            - .ddev (?)
            - tests (?)
        analyse:
            - vendor
    scanDirectories:
        - vendor/pfefferle/activitypub/includes
        - vendor/wpackagist-plugin/pwa
        - vendor/wpackagist-plugin/indieweb-post-kinds
    strictRules:
        allRules: false
        booleansInConditions: true
        disallowedLooseComparison: true
        strictFunctionCalls: true
        disallowedEmpty: false
