@use "sass:color";

// Colors

// grayscale
$dark-gray: #373d3f;
$gray: color.adjust($dark-gray, $lightness: 10%);
$light-gray: color.adjust($dark-gray, $lightness: 20%);
$lighter-gray: color.adjust($dark-gray, $lightness: 50%);

$border-gray: color.adjust($dark-gray, $lightness: 60%);
$background-gray: color.adjust($dark-gray, $lightness: 75%);

// blue
$blue: #5fa7c5;
$dark-blue: color.adjust($blue, $lightness: -35%);
$light-blue: color.adjust($blue, $lightness: 35%);

$blue-jeans: #5bc0eb;
$lighter-blue: #229fd8;

// green
$green: #a0c55f;
$dark-green: color.adjust($green, $lightness: -35%);
$light-green: color.adjust($green, $lightness: 35%);

// brown
$brown: #8c612f;
$dark-brown: color.adjust($brown, $lightness: -35%);
$light-brown: color.adjust($brown, $lightness: 35%);

// editor colors
$orioles-orange: #fa5b0f;
$usc-gold: #fc0;
$gargoyle-gas: #fde74c;
$yellow: #fff9c0;
$android-green: #9bc53d;
$white: #fff;
$very-light-gray: #eee;
$very-dark-gray: #444;

// Dimensions
$wide-width: 900px;
$default-width: $wide-width - 200px;
$margin: calc(($wide-width - $default-width) / 2);
